.Add-Worker{
  border: none;
  background-color: green;
  color: white;
  border-radius:8px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin: 10px 10px;
}
div.modal-content {
  border-radius: 1px;
  width: 150%;
  height:420px;
}
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
   min-height: 100vh;
}
.Date{
  border-radius:8px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 10px;
}

