
  .button {
    background-color: #b11010;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border:none
  }
  .Receiptinfo{
    display: grid;
    grid-template-columns: auto auto ;
  }
  .CardGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px,50px));
    row-gap:2px;
    margin-left:80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
    .Printbutton{
    background-color:rgb(35, 141, 247);
    color: white;
    padding: 10px 20px;
    margin: 15px 10;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:140px;
  
    }

    .info{
      display: grid;
      grid-template-columns: auto auto ;
      margin: auto;
      width: 80%;
      padding: 4%;
    }
    .card {
        text-align: center;
        background-color: #c5c4da;
        border-radius: 10px;
        width: 18rem;
      }
body{
  background-color:#E3E3E3;
}


