
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    background-color:#e3e1ff ;
    margin: auto;
    /* background-color:#e3e1ff; */
}